APP_NAME="IAtechs Pro"
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_URL=https://example.com

APP_LOCALE=es
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=es_CO

LOG_CHANNEL=stack
LOG_LEVEL=error

DB_CONNECTION=pgsql
DB_HOST=127.0.0.1
DB_PORT=5432
DB_DATABASE=iatechs_pro
DB_USERNAME=iatechs
DB_PASSWORD=

REDIS_CLIENT=phpredis
REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

SESSION_DRIVER=redis
SESSION_LIFETIME=120
SESSION_ENCRYPT=true
SESSION_PATH=/
SESSION_DOMAIN=null

CACHE_STORE=redis
QUEUE_CONNECTION=redis
HORIZON_PREFIX=iatechs

FILESYSTEM_DISK=s3
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

MAIL_MAILER=log
MAIL_FROM_ADDRESS="noreply@iatechs.test"
MAIL_FROM_NAME="${APP_NAME}"

SANCTUM_STATEFUL_DOMAINS=

GROQ_API_KEY=
AZURE_OPENAI_RESPONSES_ENDPOINT=https://jhonmaryj-5166-resource.services.ai.azure.com/api/projects/jhonmaryj-5166/agents/AsistenteIAtechsPro/endpoint/protocols/openai/responses
AZURE_OPENAI_API_KEY=
OPENAI_API_KEY=
GEMINI_API_KEY=
OLLAMA_URL=

VITE_APP_NAME="${APP_NAME}"
