/.phpunit.cache
/.composer-cache
/.npm-cache
/node_modules
/vendor

/.env
/.env.*
!/.env.example
!/.env.testing

/public/build
/public/hot
/storage/*.key
/storage/logs/*.log
/storage/framework/cache/data/*
/storage/framework/sessions/*
/storage/framework/testing/*
/storage/framework/views/*

/database/*.sqlite

/docker/observability/secrets/*
!/docker/observability/secrets/*.example

*.pem
*.ppk
*.key

*.zip
*.tar
*.tar.gz
*.rar
*.7z

npm-debug.log*
yarn-debug.log*
yarn-error.log*
