includes:
    - vendor/larastan/larastan/extension.neon
    - vendor/pestphp/pest/extension.neon

parameters:
    paths:
        - app
        - routes
        - database
    level: 5
    universalObjectCratesClasses:
        - Illuminate\Http\Resources\Json\JsonResource
