includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    paths:
        - app
        - routes
        - database
        - tests
    level: 5
    universalObjectCratesClasses:
        - Illuminate\Http\Resources\Json\JsonResource
